/* style001.css */

body
{
    background-color: rgb(40, 40, 40);
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.mainDiv
{
    border: solid 1px rgb(100, 100, 100);
    border-radius: 8px;
    padding: 5px 10px;
    word-wrap: break-word;
}

.secondsRectangle
{
    width: 1px;
    height: 10px;
    background: rgb(200, 200, 200);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 0px;
}

.timeLine
{
    width: 59px;
    height: 1px;
    background: rgb(0, 0, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 0px;
    color: rgb(255, 255, 255);
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2024 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

